$black: #000;
$orange: #f39200;
$nav-footer: #1d1d1d;



/*media query*/

@mixin mediaSm {
    //media tutti i css che sono qui vengono applicati solo se lo schermo e' di 500px o inferiore 
    @media screen and (max-width: 500px) {
        @content;
    }

}

@mixin mediaMd {
    //media tutti i css che sono qui vengono applicati solo se lo schermo e' di 768px o inferiore 
    @media screen and (min-width: 501px) and (max-width: 768px) {
        @content;
    }

}

@mixin mediaLg {
    //media tutti i css che sono qui vengono applicati solo se lo schermo e' in un range di 769 e 1170px
    @media screen and (min-width: 769px) and (max-width: 1170px) {
        @content;
    }

}

@mixin mediaXL {
    //media tutti i css che sono qui vengono applicati solo se lo schermo e' superiore ai 1171px;
    @media screen and (min-width: 1171px) {
        @content;
    }

}