#mp3-player{

    width: 70%;
    height: 70%;
    box-sizing: content-box;
    padding: 10%;

    background-color: rgba(darken($orange, 5), 0.5);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    
    
    

    @media (orientation: landscape){
        float: left;
        margin: 0;
        width: 50%;
    }

    #song-image{
        align-self: stretch;
        background: url(https://source.unsplash.com/800x600);
        background-size: cover;
        background-position: center; 
        flex: 3
    }

    h3{
        
        text-align: center;
        color: #fff;
        flex: 1
    }

    #xtra-btns{
        flex: .5;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

    }

    #song-bar{
        height: .2rem;
        margin: 0 auto;
        width: 70%;
        background-color: #fff;
        flex-shrink: 1;
        display: flex;
        

        &:before{
            content: attr(data-before);
            color: #fff;
            position: absolute;
            right: 85%;
        }
        &:after{
            content: attr(data-after);
            color: #fff;
            position: absolute;
            left: 85%;
        }
        #bar-pointer{
            
            position: relative;
            border-radius: 50%;
            bottom: .5rem;
            width: 1rem;
            height: 1rem;
            background-color: #fff;
            

            &:hover{
                cursor: pointer;
            }

            
        }

        
        
        
    }
    i{  
        
        border: 2px solid #fff;
        padding: .6rem;
        border-radius: 50%;
        color: #fff;
        &#play{
            padding: 1.3rem;
            font-size: 1.3em;
        }
        

        &:hover{
            color: darken($orange, 5);
            border: 5px solid darken($orange, 5);
            @include softly;
        }

        @media (orientation: landscape){
            &#list{
                display: none;
            }
        }

        &.pressed{
            @include softly;
            transform: rotateY(180deg);
        }
    }

    .mp3-player-buttons{
        margin-top:5px;
        text-align: center;
        width: 100%;
        height: 10%;
        flex: 1;

        display: flex;
        justify-content: space-around;
        align-items: center;
        

        input{
            display: none;
           -webkit-appearance: slider-vertical; 
           position: absolute;
           

        }

            
        
    }
    


    
}

#songlist{
    display: none;

    @media (orientation: landscape){
        display: block;
        width: 45%;
        max-width: 500px;
        height: 400px;
    }   
        
        background-color: rgba(darken($orange, 5), 0.5);
        margin: 0 auto;
        float: right;
        overflow: hidden;

        ul{
            text-overflow: hidden;

            .song-item{
                font-size: 2em;
                white-space: nowrap;
                padding: .5rem;
                color: #fff;

                &:hover{
                    background-color: rgba(darken($orange, 20), 0.7);
                    @include softly;
                    cursor: default;
                }
            }
        }

}
