/*mixins*/
/*media query*/
/*Header*/
#fixed-nav-bar {
  height: 3rem;
  width: 100%;
  background: #1d1d1d;
  z-index: 5;
  position: fixed;
  transition: transform .2s; }
  #fixed-nav-bar.hidden {
    transform: translateY(-100%); }
  #fixed-nav-bar .menu-btn {
    float: left; }
    #fixed-nav-bar .menu-btn .line {
      margin: .5rem;
      padding: .2rem;
      width: 2.5rem;
      height: .2rem;
      background: white; }
      #fixed-nav-bar .menu-btn .line.shown {
        transition: all .3s ease-in-out; }
        #fixed-nav-bar .menu-btn .line.shown:nth-child(1) {
          transform: translate(0px, 18px); }
        #fixed-nav-bar .menu-btn .line.shown:nth-child(2) {
          opacity: 0; }
        #fixed-nav-bar .menu-btn .line.shown:nth-child(3) {
          transform: translate(0px, -10px); }
      #fixed-nav-bar .menu-btn .line.shown_second {
        transition: all .3s ease-in-out; }
        #fixed-nav-bar .menu-btn .line.shown_second:nth-child(1) {
          transform: translate(0px, 18px) rotate(45deg); }
        #fixed-nav-bar .menu-btn .line.shown_second:nth-child(3) {
          transform: translate(0px, -10px) rotate(-45deg); }
    #fixed-nav-bar .menu-btn:hover {
      cursor: pointer; }
      #fixed-nav-bar .menu-btn:hover .line {
        background: #ff9f0e;
        transition: all .3s ease-in-out; }
  #fixed-nav-bar #social {
    margin: auto 0;
    float: right;
    color: #fff; }
    #fixed-nav-bar #social i {
      padding: .3rem; }
    #fixed-nav-bar #social a:hover {
      transition: all .3s ease-in-out;
      color: #f39200; }

nav ul {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  z-index: 4;
  padding-left: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgba(192, 115, 0, 0.5);
  transition: all .3s ease-in-out;
  transform: translate(50%, -50%); }
  nav ul.shown {
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out; }
  nav ul li {
    transition: all .3s ease-in-out;
    display: block;
    font-size: 2em;
    padding: 2rem; }
    nav ul li:hover {
      background-color: rgba(141, 85, 0, 0.7);
      transition: all .3s ease-in-out; }

#showcase {
  width: 100%;
  height: 100vh; }
  #showcase #logo {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    transition: background-image 1.5s ease-out;
    background-image: url("../assets/imgs/logo.png");
    background-position-y: center;
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat; }
    #showcase #logo::after {
      content: "";
      background: #000000;
      opacity: 0.2;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 1; }
    #showcase #logo .selector-box {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 95%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center; }
      @media (orientation: landscape) {
        #showcase #logo .selector-box {
          top: 90%; } }
      #showcase #logo .selector-box .carousel_button {
        background: #aeaeae;
        opacity: 0.5;
        margin: 0 0.25rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        #showcase #logo .selector-box .carousel_button:hover {
          background: #eaeaea; }
        #showcase #logo .selector-box .carousel_button.active {
          background: #eeeeee; }
  #showcase .carousel {
    display: flex; }
    #showcase .carousel .carousel_photo {
      opacity: 1;
      transition: transform 0.5s;
      width: 100vw;
      height: 100%; }
      #showcase .carousel .carousel_photo:first-child {
        z-index: 2; }
    #showcase .carousel #arrow i {
      position: absolute;
      z-index: 2;
      top: 70%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      color: #eaeaea;
      font-size: 6rem;
      transition: color 0.3s, font-size 0.3s, opacity 0.7s;
      opacity: 0; }
      #showcase .carousel #arrow i:hover {
        color: #fff;
        font-size: 6.5rem; }
      #showcase .carousel #arrow i.active {
        opacity: 1; }

#mp3-player {
  /*container*/
  width: 70%;
  height: 70%;
  box-sizing: content-box;
  padding: 10%;
  background-color: rgba(218, 131, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*btn-icons*/ }
  @media (orientation: landscape) {
    #mp3-player {
      float: left;
      margin: 0 auto;
      width: 35%; } }
  #mp3-player i {
    border: 2px solid #fff;
    padding: .6rem;
    border-radius: 50%;
    color: #fff; }
    #mp3-player i:hover {
      color: #da8300;
      border: 5px solid #da8300;
      transition: all .3s ease-in-out; }
    @media (orientation: landscape) {
      #mp3-player i#list {
        display: none; } }
    #mp3-player i.pressed {
      transition: all .3s ease-in-out;
      transform: rotateY(180deg); }
    #mp3-player i#play {
      margin-top: 20px;
      padding: 1.3rem;
      font-size: 1.3em; }
  #mp3-player #songtitle {
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    flex: .25; }
  #mp3-player #songauthor {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    flex: .25; }
  #mp3-player #xtra-btns {
    width: 90%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    #mp3-player #xtra-btns i {
      border: none;
      font-size: 1.5rem; }
    #mp3-player #xtra-btns #volset {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%; }
      #mp3-player #xtra-btns #volset .slider {
        width: 50%;
        max-width: 200px;
        height: 10px; }
      #mp3-player #xtra-btns #volset #outer-slider {
        background: rgba(255, 255, 255, 0.5); }
      #mp3-player #xtra-btns #volset #inner-slider {
        background: #fff;
        width: 50%; }
  #mp3-player #song-bar {
    height: .2rem;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 70%;
    background-color: #fff;
    flex-shrink: 1;
    display: flex; }
    #mp3-player #song-bar:before {
      content: attr(data-before);
      color: #fff;
      position: absolute;
      right: 85%; }
    #mp3-player #song-bar:after {
      content: attr(data-after);
      color: #fff;
      position: absolute;
      left: 85%; }
    #mp3-player #song-bar #bar-pointer {
      position: relative;
      left: 0;
      border-radius: 50%;
      bottom: .5rem;
      width: 1rem;
      height: 1rem;
      background-color: #fff; }
      #mp3-player #song-bar #bar-pointer:hover {
        cursor: pointer; }
  #mp3-player .mp3-player-buttons {
    margin-top: 5px;
    text-align: center;
    width: 100%;
    height: 10%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center; }

#music {
  width: 100%;
  height: 100vh;
  background: url(../assets/imgs/Vecs/MusicBG.svg) no-repeat;
  background-size: cover; }

#news {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background: url(../assets/imgs/Vecs/NewsBG.svg) no-repeat;
  background-size: cover; }
  #news .newsbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50%; }
    #news .newsbox-container :nth-child(1) {
      margin-left: 2rem; }
    #news .newsbox-container .text-box {
      overflow: hidden;
      background-color: #eaeaea;
      padding: .5rem 1rem;
      box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);
      width: 45%;
      height: 90%;
      z-index: 1; }
      #news .newsbox-container .text-box h1 {
        text-transform: uppercase; }
    #news .newsbox-container .photo-box {
      width: 45%;
      height: 80%;
      box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25); }
      #news .newsbox-container .photo-box:nth-child(1) {
        position: relative;
        left: 10%;
        background: url("../assets/imgs/band-photo/palco.webp");
        background-size: cover;
        background-position: center; }
      #news .newsbox-container .photo-box:nth-child(2) {
        position: relative;
        right: 15%;
        top: 10%;
        background: url("../assets/imgs/band-photo/palco1.webp");
        background-size: cover;
        background-position: center; }
  #news .contact-btn {
    text-align: center;
    color: #fff;
    border: 5px solid #fff;
    width: 50%;
    height: 5rem;
    margin: 1rem 0;
    cursor: pointer; }
    #news .contact-btn h1 {
      vertical-align: middle; }
    #news .contact-btn:hover {
      border-color: #da8300;
      color: #da8300;
      transition: all .3s ease-in-out; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: #000; }

/*Global*/
img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff; }

.center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.center--floated {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.current {
  color: #f39200; }

footer {
  background-color: #1d1d1d;
  width: 100%; }
  footer h5 {
    position: relative;
    top: 20px;
    margin: 0 0 10px 25px;
    color: #fff; }
  footer h6 {
    color: #fff;
    float: right;
    margin-right: 25px; }
  footer::after {
    content: "";
    clear: both;
    display: table; }
