/*mixins*/
/*media query*/
/*Header*/
#fixed-nav-bar {
  height: 3rem;
  width: 100%;
  background: #1d1d1d;
  z-index: 5;
  position: fixed;
  transition: transform .2s; }
  #fixed-nav-bar.hidden {
    transform: translateY(-100%); }
  #fixed-nav-bar .menu-btn {
    float: left; }
    #fixed-nav-bar .menu-btn .line {
      margin: 8px;
      padding: .2rem;
      width: 2.5rem;
      height: .2rem;
      background: white; }
      #fixed-nav-bar .menu-btn .line.shown {
        transition: all .3s ease-in-out; }
        #fixed-nav-bar .menu-btn .line.shown:nth-child(1) {
          transform: translate(0px, 18px); }
        #fixed-nav-bar .menu-btn .line.shown:nth-child(2) {
          opacity: 0;
          transition: all .3s ease-in-out; }
        #fixed-nav-bar .menu-btn .line.shown:nth-child(3) {
          transform: translate(0px, -10px); }
      #fixed-nav-bar .menu-btn .line.shown_second {
        transition: all .3s ease-in-out; }
        #fixed-nav-bar .menu-btn .line.shown_second:nth-child(1) {
          transform: translate(0px, 18px) rotate(45deg); }
        #fixed-nav-bar .menu-btn .line.shown_second:nth-child(3) {
          transform: translate(0px, -10px) rotate(-45deg); }
    #fixed-nav-bar .menu-btn:hover {
      cursor: pointer; }
      #fixed-nav-bar .menu-btn:hover .line {
        background: #ff9f0e;
        transition: all .3s ease-in-out; }
  #fixed-nav-bar #social {
    margin: auto 0;
    float: right;
    color: #fff; }
    #fixed-nav-bar #social i {
      padding: .3rem; }
    #fixed-nav-bar #social a:hover {
      transition: all .3s ease-in-out;
      color: #f39200; }

nav ul {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
  padding-left: 0;
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-color: rgba(192, 115, 0, 0.5);
  transition: all .3s ease-in-out;
  transform: translate(50%, -50%); }
  nav ul.shown {
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out; }
  nav ul li {
    transition: all .3s ease-in-out;
    display: block;
    font-size: 2em;
    padding: 2rem; }
    nav ul li:hover {
      background-color: rgba(141, 85, 0, 0.7);
      transition: all .3s ease-in-out; }

#showcase {
  width: 100%;
  height: 100vh; }
  #showcase #logo {
    margin: 0 auto;
    width: 100%;
    height: 60%;
    overflow: hidden; }
    @media (orientation: landscape) {
      #showcase #logo {
        height: 150vh; } }
    #showcase #logo .carousel {
      display: flex; }
      #showcase #logo .carousel .carousel_photo {
        margin: 0 auto;
        opacity: 1;
        transition: transform .5s;
        width: 100%;
        height: 60%; }
    #showcase #logo .selector-box {
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center; }
      @media (orientation: landscape) {
        #showcase #logo .selector-box {
          top: 90%; } }
      #showcase #logo .selector-box .carousel_button {
        background: #aeaeae;
        opacity: .5;
        margin: 0 .25rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        transition: all .3s ease-in-out; }
        #showcase #logo .selector-box .carousel_button:hover {
          background: #eaeaea; }
        #showcase #logo .selector-box .carousel_button.active {
          background: #eeeeee; }
  #showcase #background_img_showcase {
    background: url(/src/imgs/Vecs/Component.svg);
    width: 100%;
    height: 40%;
    background-size: cover; }
    @media (orientation: landscape) {
      #showcase #background_img_showcase {
        height: 0; } }

#mp3-player {
  /*container*/
  width: 70%;
  height: 70%;
  box-sizing: content-box;
  padding: 10%;
  background-color: rgba(218, 131, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /*btn-icons*/ }
  @media (orientation: landscape) {
    #mp3-player {
      float: left;
      margin: 0 auto;
      width: 35%; } }
  #mp3-player i {
    border: 2px solid #fff;
    padding: .6rem;
    border-radius: 50%;
    color: #fff; }
    #mp3-player i:hover {
      color: #da8300;
      border: 5px solid #da8300;
      transition: all .3s ease-in-out; }
    @media (orientation: landscape) {
      #mp3-player i#list {
        display: none; } }
    #mp3-player i.pressed {
      transition: all .3s ease-in-out;
      transform: rotateY(180deg); }
    #mp3-player i#play {
      margin-top: 20px;
      padding: 1.3rem;
      font-size: 1.3em; }
  #mp3-player #song-image {
    display: none;
    align-self: stretch;
    background: url(https://source.unsplash.com/800x600);
    background-size: cover;
    background-position: center;
    flex: 3; }
  #mp3-player #songtitle {
    text-overflow: ellipsis;
    text-align: center;
    color: #fff;
    flex: .25; }
  #mp3-player #songauthor {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    flex: .25; }
  #mp3-player #xtra-btns {
    width: 90%;
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px; }
    #mp3-player #xtra-btns i {
      border: none;
      font-size: 1.5rem; }
    #mp3-player #xtra-btns #volset {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%; }
      #mp3-player #xtra-btns #volset .slider {
        width: 50%;
        max-width: 200px;
        height: 10px; }
      #mp3-player #xtra-btns #volset #outer-slider {
        background: rgba(255, 255, 255, 0.5); }
      #mp3-player #xtra-btns #volset #inner-slider {
        background: #fff;
        width: 50%; }
  #mp3-player #song-bar {
    height: .2rem;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 70%;
    background-color: #fff;
    flex-shrink: 1;
    display: flex; }
    #mp3-player #song-bar:before {
      content: attr(data-before);
      color: #fff;
      position: absolute;
      right: 85%; }
    #mp3-player #song-bar:after {
      content: attr(data-after);
      color: #fff;
      position: absolute;
      left: 85%; }
    #mp3-player #song-bar #bar-pointer {
      position: relative;
      left: 0;
      border-radius: 50%;
      bottom: .5rem;
      width: 1rem;
      height: 1rem;
      background-color: #fff; }
      #mp3-player #song-bar #bar-pointer:hover {
        cursor: pointer; }
  #mp3-player .mp3-player-buttons {
    margin-top: 5px;
    text-align: center;
    width: 100%;
    height: 10%;
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center; }

#songlist {
  display: block;
  position: absolute;
  top: 140vh;
  overflow: hidden; }
  @media (orientation: landscape) {
    #songlist {
      display: block;
      width: 35%;
      margin: 0 auto;
      max-width: 500px;
      height: 400px;
      float: right;
      background-color: rgba(218, 131, 0, 0.5); } }
  #songlist ul {
    text-overflow: hidden; }
    #songlist ul .song-item {
      font-size: 2em;
      white-space: nowrap;
      padding: .5rem;
      color: #fff; }
      #songlist ul .song-item:hover {
        background-color: rgba(141, 85, 0, 0.7);
        transition: all .3s ease-in-out;
        cursor: default; }
    #songlist ul .selected {
      background-color: rgba(141, 85, 0, 0.7); }

#music {
  width: 100%;
  height: 100vh;
  background: url(/src/imgs/Vecs/MusicBG.svg) no-repeat;
  background-size: cover; }

* {
  box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: #000; }

/*Global*/
img {
  max-width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #fff; }

.center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.center--floated {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

.current {
  color: #f39200; }

#news {
  margin: 0;
  padding: 0;
  height: 750px;
  width: 100%;
  background: url(/src/imgs/Vecs/NewsBG.svg) no-repeat;
  background-size: cover; }
  #news .text-box {
    overflow: hidden;
    background-color: #eaeaea;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25); }
    #news .text-box .title {
      padding: 0.3rem;
      text-transform: uppercase;
      text-decoration: underline; }
    #news .text-box p {
      padding: 0.3rem; }
    #news .text-box.one {
      float: left;
      clear: left;
      margin: 0.5rem 0 0 0.5rem;
      width: 60%;
      max-height: 30%; }
    #news .text-box.two {
      float: right;
      clear: right;
      margin-top: 0.5rem;
      width: 60%;
      max-height: 40%; }
  #news .photo-box {
    background-color: #aaaaaa;
    width: 30%;
    height: 30%;
    margin: 0 auto; }
    #news .photo-box.one {
      float: right;
      clear: right;
      background: url(https://source.unsplash.com/800x600);
      background-size: cover; }
    #news .photo-box.two {
      float: left;
      clear: left;
      background: url(https://source.unsplash.com/800x700);
      background-size: cover; }
  #news .contact-btn {
    position: relative;
    top: 50px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border: 5px solid #fff;
    clear: both;
    width: 50%;
    max-width: 200px;
    height: 5rem; }
    #news .contact-btn h1 {
      vertical-align: middle; }
    #news .contact-btn:hover {
      border-color: #da8300;
      color: #da8300;
      transition: all .3s ease-in-out; }

footer {
  background-color: #1d1d1d;
  width: 100%; }
  footer h5 {
    position: relative;
    top: 20px;
    margin: 0 0 10px 25px;
    color: #fff; }
  footer h6 {
    color: #fff;
    float: right;
    margin-right: 25px; }
  footer:after {
    content: "";
    clear: both; }
