#showcase {
   
  width: 100%;
  height: 100vh;    

  #logo{
    margin: 0 auto;
    width: 100%;
    height: 60%;
    
    @media (orientation: landscape){
      height: 150vh;
    }  
    overflow: hidden;

    &::after {
      content: '';
      background: #000000;
      opacity: 0.2;
      position: absolute;
      top: 0;
      width: 100%;
      height: 60%;
      z-index: 1;
    }
    
    .carousel {
      display: flex;

      .carousel_photo {
        margin: 0 auto;
        opacity: 1;
        transition: transform .5s;
        width: 100%;
        height: 60%;

        &:first-child {
          z-index: 2;
        }
      }
    }

    .selector-box {
      position: absolute;
      z-index: 2;
      left: 50%;
      top: 55%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      @media (orientation: landscape){
        top: 90%;
      }
      .carousel_button {
        background: #aeaeae;
        opacity: .5;
        margin: 0 .25rem;
        width: 1rem;
        height: 1rem;
        border-radius: 0.5rem;
        cursor: pointer;
        @include softly();
        
        &:hover {
          background: #eaeaea;
        }

        &.active {
          background: #eeeeee;
        }
      }
    }
  }

  #background_img_showcase {
    display: flex;
    justify-content: center;
    background: url(../imgs/Vecs/Component.svg);
    width: 100%;
    height: 40%;
    background-size: cover;

    
    
    #arrow {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        transition: opacity 0.7s;
        text-transform: capitalize;
        text-decoration: underline;
        font-size: 3rem;
        font-weight: 1000;
        color: #fff;
        opacity: 0;
        
        &.active {
          opacity: 1;
        }
      }
      
      i {
        display: block;
        color: #eaeaea;
        font-size: 5rem;
        transition: color 0.3s, font-size 0.3s, opacity 0.7s;
        opacity: 0;
        
        &:hover {
          color: #fff;
          font-size: 5.5rem;
        }

        &.active {
          opacity: 1;
        }
      }
    }
    
    

    @media (orientation: landscape){
        height: 0;
    }
    
  }

  
}