@import "config";
@import "anim";
@import "menu";
@import "showcase";
@import "music";
@import "news";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $black;
  //scegli un font
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: $black;
}

button {
  background: none;
  outline: none;
}

/*Global*/

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center--floated {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.current {
  color: $orange;
}



footer {
  
  background-color: $nav-footer;
  width: 100%;

  h5 {
    position: relative;
    top: 20px;
    margin: 0 0 10px 25px;
    color: #fff;
  }
  h6 {
    color: #fff;
    float: right;
    margin-right: 25px;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
