@import "config";
@import "anim";
@import "menu";
@import "showcase";
@import "music";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: $black;
  //scegli un font
  font-family: Arial, Helvetica, sans-serif, sans-serif;
  color: $black;
}

/*Global*/

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #fff;
}

.center {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center--floated {
  margin: 0 auto;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.current {
  color: $orange;
}

#news {
  margin: 0;
  padding: 0;
  height: 750px;
  width: 100%;
  background: url(../imgs/Vecs/NewsBG.svg) no-repeat;
  background-size: cover;

  .text-box {
    //in un media grande le box si allargano ma non vanno giu
    overflow: hidden;
    background-color: #eaeaea;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25);

    .title {
      padding: 0.3rem;
      text-transform: uppercase;
      text-decoration: underline;
    }

    p {
      padding: 0.3rem;
    }

    &.one {
      float: left;
      clear: left;
      margin: 0.5rem 0 0 0.5rem;
      width: 60%;
      max-height: 30%;
    }

    &.two {
      float: right;
      clear: right;
      margin-top: 0.5rem;
      width: 60%;
      max-height: 40%;
    }
  }
  .photo-box {
    background-color: #aaaaaa;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    //in un formato piccolo le foto si strizzano troppo
    &.one {
      float: right;
      clear: right;
      background: url(https://source.unsplash.com/800x600);
      background-size: cover;
    }

    &.two {
      float: left;
      clear: left;
      background: url(https://source.unsplash.com/800x700);
      background-size: cover;
    }
  }

  .contact-btn {
    position: relative;
    top: 50px;
    text-align: center;
    margin: 0 auto;
    color: #fff;
    border: 5px solid #fff;
    clear: both;
    width: 50%;
    max-width: 200px;
    height: 5rem;

    h1 {
      vertical-align: middle;
    }
    &:hover {
      border-color: darken($orange, 5);
      color: darken($orange, 5);
      @include softly;
    }
  }
}

footer {
  background-color: $nav-footer;
  width: 100%;

  h5 {
    position: relative;
    top: 20px;
    margin: 0 0 10px 25px;
    color: #fff;
  }
  h6 {
    color: #fff;
    float: right;
    margin-right: 25px;
  }

  &::after {
    content: "";
    clear: both;
    display: table;
  }
}
